In [1]:
#---Ensures the correct path in the parent folder---

# import os
# import sys

# sys.path.append(os.path.abspath(".."))

#---Importing requried libraries---

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Defining the paths where the data, models etc are stored

data_path = "../data/exams.csv"

In [3]:
df = pd.read_csv(data_path)

In [4]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group D,some college,standard,completed,59,70,78
1,male,group D,associate's degree,standard,none,96,93,87
2,female,group D,some college,free/reduced,none,57,76,77
3,male,group B,some college,free/reduced,none,70,70,63
4,female,group D,associate's degree,standard,none,83,85,86

In [5]:
print(f"Columns: {df.columns} \n")

Columns: Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [6]:
df.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [7]:
categorial_columns_list = df.select_dtypes(include=["category", "object"]).columns.tolist()

# Seperating numerical columns

numerical_columns_list = df.drop(columns=categorial_columns_list).columns.to_list()

In [8]:
print(f"List of Categorial Columsn: {categorial_columns_list}\n")
print(f"List of Numerical Columns: {numerical_columns_list}")

List of Categorial Columsn: ['gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course']

List of Numerical Columns: ['math score', 'reading score', 'writing score']

In [9]:
# Checking the values of categorial columns

for col in categorial_columns_list: 
    print(f"Values of column {df[col].value_counts()} \n")

Values of column gender
male      508
female    492
Name: count, dtype: int64

Values of column race/ethnicity
group C    323
group D    257
group B    198
group E    143
group A     79
Name: count, dtype: int64

Values of column parental level of education
some college          224
high school           215
associate's degree    204
some high school      177
bachelor's degree     105
master's degree        75
Name: count, dtype: int64

Values of column lunch
standard        660
free/reduced    340
Name: count, dtype: int64

Values of column test preparation course
none         656
completed    344
Name: count, dtype: int64

In [10]:
df['test preparation course'].value_counts()

test preparation course
none         656
completed    344
Name: count, dtype: int64

In [23]:
# Converting the exam scores into a pass or fail column

avg_scores = (df['math score'] + df['reading score']  + df['writing score'])/ 3

df['result'] = avg_scores.apply(lambda x: 'pass' if x >=45 else ' fail')

In [25]:
df['result'].value_counts()

result
pass     953
 fail     47
Name: count, dtype: int64